<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/footer.css" rel="stylesheet">
    </head>
<body>
    <footer>
        <div class="left">
            <div><p>copyright stuff!!</p></div>
        </div>
        <div class="right">
            <div class="item" name="home" id="home"><a href="">Home</a></div>
            <div class="item" name="register" id="register"><a href="">Register</a></div>
            <div class="item" name="logout" id="logout"><a href="">Logout</a></div>
            <div class="item" name="login" id="login"><a href="">Login</a></div>
        </div>
    </footer>
</body>
</html>