<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/footer.css" rel="stylesheet">
    </head>
<body>
    <footer>
        <div class="left">
            <div><p>copyright stuff!!</p></div>
        </div>
        <div class="right">
            <div class="item" name="home" id="home"><a href="/home">Home</a></div>
            <div class="item" name="register" id="register"><a href="/">Register</a></div>
            <div class="item" name="<%= key %>" id="<%= key %>"><a href="/<%= key %>"><%= key %></a></div>
        </div>
    </footer>
</body>
</html>