<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="/header.css"> 
</head>
<body>
    <nav>
        <div name="register" id="register"><a href="">Register</a></div>
        <div name="logout" id="logout"><a href="">Logout</a></div>
        <div name="login" id="login"><a href="">Login</a></div>
        <div name="home" id="home"><a href="">Home</a></div>
    </nav>
</body>
</html>