<%- include("header.ejs") %>
<head>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h1>LOGIN</h1>
    <div class="container">
        <form id="form" action="/home" method="post">
            <input type="email" placeholder="Enter your Email">
            <input type="text" placeholder="Enter new Password">
            <input type="submit" value="submit">
        </form>
    </div>
</body>
<%- include("footer.ejs") %>