<%- include("header.ejs") %>
<head>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h1>LOGIN</h1>
    <div class="container">
        <form id="form" action="/login" method="POST">
            <input name="email" type="email" placeholder="Enter your Email">
            <input name="pass" type="password" placeholder="Enter new Password">
            <input type="submit" value="submit">
            <p id="message"><%= msg %></p>
        </form>
    </div>
</body>
<%- include("footer.ejs") %>