<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <div class="container">
        <form action="/home" method="POST">
            <textarea name="textarea" rows="20" cols="100" placeholder="Type Here..."></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>