<%- include("header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/post.css">
</head>
<body>
    <div class="container">
        <form action="/home" method="POST">
            <textarea name="textarea" rows="20" cols="100" placeholder="<%= postMsg %>"></textarea>
            <input id="postButton" type="submit" value="Post ==>">
        
        <button type="submit" formaction="/postList" formmethod="GET">PostList</button>
    </form>
    </div>
</body>
</html>
<%- include("footer.ejs") %>