<%- include("header.ejs") %>
<head>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <h1>REGISTER</h1>
    <div class="container">
        <form id="form" action="/register" method="POST">
            <input name="name" type="text" placeholder="Enter your Name">
            <input name="email" type="email" placeholder="Enter your Email">
            <input name="pass" type="text" placeholder="Enter new Password">
            <input name="password" type="password" placeholder="Re-enter Password">
            <input name="submit" type="submit" value="Submit">
            <p id="message"><%=msg %></p>
        </form>
    </div>
</body>
<%- include("footer.ejs") %>